body {
    background-color: #443565;
}
button {
    height: 90px;
    width: 90px;
    display: inline-block;
    margin: 0 auto;
}
h1 {
    font-family: helvetica;
    display: block;
    text-align: center;
    color: #ffffff;
}
input {
    height: 20px;
    margin: 3%;
}
#score {
    display: block;
    text-align: center;
    font-family: helvetica;
    font-size: 15pt;
    color: #ffffff;
    margin: 3%;
}
#cube {
    width: 60px;
    height: 60px;
    border: solid black 5px;
    border-radius: 5px;
    background-color: #ffffff;
    display: inline-block;
}
.dice {
    width: 50px;
    height: 50px;
    background-color: #111111;
    margin: 2%;
    display: inline-block;
}
#one {
    background-image: url(img/one.jpg);
}
#two {
    background-image: url(img/two.jpg);
}
#three {
    background-image: url(img/three.jpg);
}
#four {
    background-image: url(img/four.jpg);
}
#five {
    background-image: url(img/five.jpg);
}
#six {
    background-image: url(img/six.jpg);
}
span {
    display: block;
    text-align: center;
    font-family: helvetica;
    font-size: 25pt;
    color: #ffffff;
    margin: 3%;
}